body{
    background-color: rgb(33,33,33);
    color: rgb(242, 242, 242);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: initial;
    max-height: 100%;
    max-width: 100%;
    display: flex;
}

.conversations{ 
    width: 20%;
    height: 670px;
    max-height: initial;
    overflow-y: auto;
    background-color: rgb(23,23,23);
    margin: none;
    padding: none;
    font-size: 15px;
}
/* Tùy chỉnh thanh cuộn */
.conversations::-webkit-scrollbar {
    width: 8px; 
}

.conversations::-webkit-scrollbar-track {
    background: rgb(33, 33, 33); /* Màu nền của thanh cuộn */
}

.conversations::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100); /* Màu của thanh cuộn */
    border-radius: 10px; /* Bo tròn các góc của thanh cuộn */
}

.conversations::-webkit-scrollbar-thumb:hover {
    background: rgb(150, 150, 150); /* Màu của thanh cuộn khi hover */
}
.conversations .conver{
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-radius: 5px;
    height: 27px;
    margin-bottom: 0px;
    padding: 5px 5px 5px 10px;
}

.conversations .conver:hover{
    background-color: rgb(33,33,33);
}

.conversations .conver .newChat {
    white-space: nowrap; 
    overflow: hidden; 
    max-width: 170px; /* Chiều rộng tối đa cho phần tử */
    position: relative; /* Để sử dụng cho hiệu ứng làm mờ */
    padding-right: 20px; /* Để tạo khoảng trống cho hiệu ứng làm mờ */
}

.ellipsis {
    width: 20px; /* Chiều rộng cố định cho dấu ba chấm */
    text-align: right; /* Căn phải cho dấu ba chấm */
    font-weight: bold; /* Để làm nổi bật dấu ba chấm */
    display: inline;
}

.conversations .conver_today{
    justify-content: space-around;
    align-items: center;
    margin:10px 20px 20px 20px;
}


.conversations .conver_before{
    justify-content: space-around;
    align-items: center;
    margin:30px 20px 20px 20px;
}



.message{
    width: 75%;
    padding-left: 30px;
    
}
.message .info{
    opacity: 80%;
    cursor: pointer;
    margin-bottom: 30px;
}

.message .message_content{
    width: 100%;
    height: 520px; /* Chiều cao cố định */
    overflow-y: auto; /* Cho phép cuộn */
    transition: transform 0.3s ease; 
}
.message .message_content::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn */
}
.message_content .ques{
    justify-self: end;
    margin-right: 18%;
    max-width: 60%;

}
.message_content .ques p{
    background-color: rgb(47,47,47);
    padding: 10px 15px;
    border-radius: 30px;
    line-height: 1.5;
}

.message_content .ans{
    justify-self: start;
    margin-left: 18%;
    max-width: 60%;
    row-gap: 15px;
}
.message_content .ans p{
    padding: 10px 10px;
    line-height: 1.5;
}

.message .chat{
    display: flex;
    margin-left: 18%;
    height: 50px;
    max-height: 100%;
    width: 64%;
    border-radius: 25px;
    align-items: center;
    background-color: rgb(47,47,47);
}
.chat .text{
    border: none;
    height: 48px;
    max-height: 100%;
    background-color: rgb(47,47,47);
    width: 86%;
    font-size: 16px;
    color: aliceblue;
    outline: none;
    border: none;
}
.chat .icon_file{
    width: 35px; /* Chiều rộng của biểu tượng */
    height: 20px; 
    margin-left: 5px;
    cursor: pointer;
    align-self: center; /* Căn giữa biểu tượng với ô nhập văn bản */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
}

.chat .icon_send{
    width: 20px; /* Chiều rộng của biểu tượng */
    height: 20px; 
    margin-left: 10px;
    padding: 5px 5px;
    background-color: rgb(133, 133, 133);
    border-radius: 100%;
    opacity: 40%;
    cursor: pointer;
    align-self: center; /* Căn giữa biểu tượng với ô nhập văn bản */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
}
.chat .icon_send:hover{
    background-color: rgb(249, 247, 247);
}
